@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body, #app {
  height: 100%;
  height: 100%;
}
